/build
.kotlin/
 local.properties
../keystore.properties
../release.keystore
../play-store-service-account.json
*.jks
*.keystore
README.pdf
app/.DS_Store
app/release/
app/release
.DS_Store
**/.DS_Store
.idea/
.gradle/

build
/app/build/
*.apk
*.aab
*.apks
*.dm